<html lang="en">
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet">

<title> home </title>
</head>
<body>
<div >
<h4> Welcome to the FinCare complaints manager</h4>
</div>
<a href="/complaints">  <div class="btn-group">
  <button type="button" class="btn btn-primary"> Complaints </button>
</div></a>
<div>
    <form action = "/admin" method = "POST"  enctype="multipart/form-data" role="form" id="upload-form">
        <div class="form-group ">
        <label for="name">Title</label>
        <input type="text" class="form-control"  id="name" placeholder="Title of complaint" name="title">
        </div>

        <div class="form-group ">
        <label for="name">Company</label>
        <input type="text" class="form-control"  id="name" placeholder="Company that registered complaint" name="company">
        </div>
        
        <div class="form-group ">
            <label for="name">Category</label>
            <select class="form-control" name="category">
                 <option>hardware</option>
                 <option>software</option>
                 <option>services</option>
            </select>
        </div>
        <div class="form-group ">
            <label for="name">Assigned to</label>
            <select class="form-control" name="assignee">
                 <option>joannah</option>
                 <option>richard</option>
                 
            </select>
        </div>

        <div class="form-group ">
            <label for="name">Description</label>
            <textarea class="form-control" rows="3" name="description"></textarea>
        </div>

       
        <button type="submit" class="btn btn-default">Submit</button>
       
      </form>
</div>
	

    




<footer>
slau Tech camp 2014
</footer>
</body>
</html>

    

