<html lang="en">
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet">

<title> home </title>
</head>
<body>
<div >
<h4> Welcome to the FinCare complaints manager</h4>
</div>

	

    <form action = "/login" method = "POST"  enctype="multipart/form-data">

        <div class="form-group">

            <label for="name">User Name</label>

            <input type="text" class="form-control" id="inputEmail" placeholder="User Name" name="name">

        </div>

        <div class="form-group">

            <label for="name">Password</label>

            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="pass">

        </div>

       

        <button type="submit" class="btn btn-primary">Login</button>

    </form>


</div>

<footer>
Joannah 2015
</footer>
</body>
</html>

    

