<html lang="en">
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet">

<title> home </title>
</head>
<body>
<div >
<h4> Welcome to the FinCare complaints manager</h4>
<p>you are logged in as joannah .</p>
</div>

	

    <div class="row">    
     <div class="row-fluid apps"><br>
    <% @complaints.each do |f| %>
      <div class="col-md-3 tile" align="center">
        <div class="container">
        
        <h2><%= f.title %></h2>
        <p><%= f.company %></p>
        <p><%= f.category %></p>
         <p><%= f.assignee %></p>
         <p><%= f.description %></p>
          
        </div>
      </div>
      <% end%>
  </div>
  </div>
  


</div>

<footer>
Joannah 2015
</footer>
</body>
</html>

    

